.m-15{
    margin: 15px !important;
}
.ml-2{
    margin-left: 2px !important;
}
.ml-8{
    margin-left: 8px !important;
}

.bg-white{
    background-color: white !important;
}

.txt-white{
   color: white !important;
}